@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

@font-face {
  font-family: "NanumSquare";
  src: url('./fonts/NanumSquareRoundB.ttf');
}

html, body {
    font-family: 'NanumSquare', serif;
}

* {
    font-family: 'NanumSquare', serif;
}