<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.spot.mapper.WishMapper">

	<insert id="addwish" parameterType="String">
		insert into wishlist values(null, #{user_id}, #{spot_id})
	</insert>
	
	<select id="wishcheck" parameterType="String" resultType="java.util.Map">
		select wishlist_id from wishlist where user_id=#{user_id} and spot_id=#{spot_id}
	</select>
	
	<delete id="delwish" parameterType="String">
		delete from wishlist where wishlist_id=#{wishlist_id}
	</delete>
	
	<select id="wishlist" parameterType="String" resultType="java.util.Map">
		select spot_id from wishlist where user_id=#{user_id}
	</select>

	
</mapper>